.borderbox{
    border: 1.5px solid transparent;
background: padding-box linear-gradient(#FFF9EA, #FFF9EA),
  border-box linear-gradient(#661268, rgb(255 255 255 / 0.1));

}
.selected {
  border: 2px solid #661268; 
  border-bottom: none;/* Gold border to indicate selection */
  background-color: #FFFACD; /* Light yellow background */
}
.tick-mark-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.tick-mark {
  width: 50px; /* Adjust the size of the tick mark GIF */
  height: 50px;
}
